{% extends "base.html" %}
{% block title %}Event: {{ event['type'] }}{% endblock %}
{% block content %}
<div>
	<h2>{{ event['type'] }}</h2>
	<h3>Year: {{ event['year'] }}</h3>
	{% if event['state'] != '' %}
	<h3>State: {{ event['state'] }}</h3>
	{% endif %}
	{% if event['coords'] != '' %}
	<h3>Coordinates: {{ event['coords'] }}</h3>
	{% endif %}
	{% if event['knowledge'] != '' %}
	<h3>Knowledge: {{ event['knowledge'] }}</h3>
	{% endif %}
	{% if event['histfig'] != '' %}
	<h3>Historical figure: <a href="/histfig?id={{ event['histfig']['id'] }}">{{ event['histfig']['name'] }}</a></h3>
	{% endif %}
	{% if event['site'] != '' %}
	<h3>Site: <a href="/site?id={{ event['site']['id'] }}">{{ event['site']['name'] }}</a></h3>
	{% endif %}
	{% if event['artifact'] != '' %}
	<h3>Artifact: <a href="/artifact?id={{ event['artifact']['id'] }}">{{ event['artifact']['name'] }}</a></h3>
	{% endif %}
	{% if event['entity'] != '' %}
	<h3>Entity: <a href="/entity?id={{ event['entity']['id'] }}">{{ event['entity']['name'] }}</a></h3>
	{% endif %}
	{% if event['civ'] != '' %}
	<h3>Civilization: <a href="/entity?id={{ event['civ']['id'] }}">{{ event['civ']['name'] }}</a></h3>
	{% endif %}
	{% if event['attacker_civ'] != '' %}
	<h3>Attacker civilization: <a href="/entity?id={{ event['attacker_civ']['id'] }}">{{ event['attacker_civ']['name'] }}</a></h3>
	{% endif %}
	{% if event['defender_civ'] != '' %}
	<h3>Defender civilization: <a href="/entity?id={{ event['defender_civ']['id'] }}">{{ event['defender_civ']['name'] }}</a></h3>
	{% endif %}
	{% if event['attacker_general'] != '' %}
	<h3>Attacker general: <a href="/histfig?id={{ event['attacker_general']['id'] }}">{{ event['attacker_general']['name'] }}</a></h3>
	{% endif %}
	{% if event['defender_general'] != '' %}
	<h3>Defender general: <a href="/histfig?id={{ event['defender_general']['id'] }}">{{ event['defender_general']['name'] }}</a></h3>
	{% endif %}
	{% if event['slayer'] != '' %}
	<h3>Slayer: <a href="/histfig?id={{ event['slayer']['id'] }}">{{ event['slayer']['name'] }}</a></h3>
	{% endif %}
	{% if event['cause'] != '' %}
	<h3>Cause: {{ event['cause'] }}</h3>
	{% endif %}
	{% if event['source_site'] != '' %}
	<h3>Source site: <a href="/site?id={{ event['source_site']['id'] }}">{{ event['source_site']['name'] }}</a></h3>
	{% endif %}
	{% if event['group_1_hf'] != '' %}
	<h3>Group 1: <a href="/histfig?id={{ event['group_1_hf']['id'] }}">{{ event['group_1_hf']['name'] }}</a></h3>
	{% endif %}
	{% if event['group_2_hf'] != '' %}
	<h3>Group 2: <a href="/histfig?id={{ event['group_2']['id'] }}">{{ event['group_2']['name'] }}</a></h3>
	{% endif %}
	{% if event['a_leader'] != '' %}
	<h3>Attack leader: <a href="/histfig?id={{ event['a_leader']['id'] }}">{{ event['a_leader']['name'] }}</a></h3>
	{% endif %}
	{% if event['d_leader'] != '' %}
	<h3>Defense leader: <a href="/histfig?id={{ event['d_leader']['id'] }}">{{ event['d_leader']['name'] }}</a></h3>
	{% endif %}
	{% if event['reason'] != '' %}
	<h3>Reason: {{ event['reason'] }}</h3>
	{% endif %}
	{% if event['entity_1'] != '' %}
	<h3>Entity 1: <a href="/histfig?id={{ event['entity_1']['id'] }}">{{ event['entity_1']['name'] }}</a></h3>
	{% endif %}
	{% if event['entity_2'] != '' %}
	<h3>Entity 2: <a href="/histfig?id={{ event['entity_2']['id'] }}">{{ event['entity_2']['name'] }}</a></h3>
	{% endif %}
	{% if event['leader'] != '' %}
	<h3>Leader: <a href="/histfig?id={{ event['leader']['id'] }}">{{ event['leader']['name'] }}</a></h3>
	{% endif %}
	{% if event['site_1'] != '' %}
	<h3>Site 1: <a href="/site?id={{ event['site_1']['id'] }}">{{ event['qqq']['site_1'] }}</a></h3>
	{% endif %}
	{% if event['site_2'] != '' %}
	<h3>Site 2: <a href="/site?id={{ event['site_2']['id'] }}">{{ event['site_2']['name'] }}</a></h3>
	{% endif %}
	{% if event['link'] != '' %}
	<h3>Link: {{ event['link'] }}</h3>
	{% endif %}
</div>
{% endblock %}
